<div class="row">
    <div class="col-lg-3 col-md-4" style="margin-top: 50px;">
        <div>
            <a ui-sref="auth.admin.settings">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="icon ion-gear-b size-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">系統設定</div>
                                <div>System Settings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a ui-sref="auth.admin.users">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="icon ion-ios-people size-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">帳號管理</div>
                                <div>Manage Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a ui-sref="auth.admin.classes">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="icon ion-ios-list size-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">班級管理</div>
                                <div>Manage Classes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-9 col-md-8">
        <div ui-view></div>

    </div>
</div>